<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="realestatebroker">
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/realestatebroker</property>
        <property name="hibernate.connection.username">rebroker</property>
        <property name="hibernate.connection.password">rebroker</property>

        <property name="cache.provider_class">org.hibernate.cache.HashtableCacheProvider</property>

        <property name="transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
        <property name="current_session_context_class">thread</property>
        <property name="hibernate.show_sql">true</property>

        <!-- mapping files -->
        <mapping resource="META-INF/pl/edu/agh/iosr/realestatebroker/model/EstateOffer.hbm.xml"/>
        <mapping resource="META-INF/pl/edu/agh/iosr/realestatebroker/model/User.hbm.xml"/>
    </session-factory>
</hibernate-configuration>